/* Define primary and secondary color variable */
:root {
    --primary_color: #035891;
    --secondary_color: #adc7d9;
}

/* Miligram overrides */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #f5f7fa;
}

.btn-primary-color{
    background-color: var(--primary_color) !important;
    color: #ffffff;
    border: 1px solid var(--primary_color) !important;
} 

.text-red{
    color: #ff0000;
}
.top-nav-links,
.side-nav,
h1, h2, h3, h4, h5, h6, 
.text-primary, .primary-text {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--primary_color) !important;
}

a {
    color:var(--primary_color);
    transition:all 0.2s linear;
}

a:hover,
a:focus,
a:active  {
    color:#2a6496;
    transition:all 0.2s ease-out;
}

/* Nav bar */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 112rem; */
    padding: 1rem;
    /* margin: 0 auto 2rem; */
    background-color: var(--secondary_color);
}
.top-nav-title a {
    font-size: 2.4rem;
    color: var(--primary_color);
}
.top-nav-title span {
    color: #404041;
}
.top-nav-links a {
    margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

hr {
    border: 0;
    border-top: 0.3rem solid var(--primary_color);
    margin: 0 0 4rem 0;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 0;
    width: 100%;
}

td:first-child, th:first-child {
    padding-left: 0;
}

td {
    color: #000;
}

td, th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
    text-align: left;
}

td:last-child, th:last-child {
    padding-right: 0;
}

.content {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
}
